
		<div class="CajaUno animated bounceInDown" ng-init="Comenzar()">
			
			<input type="text" class="estiloUTN" readonly ng-model="PrimerNumero">
			<input type="text" class="estiloUTN" readonly ng-model="operacion">
			<input type="text" class="estiloUTN" readonly ng-model="SegundoNumero">
			<form id="FormIngreso">
				<input type="text"  class="estiloUTN" ng-model="respuesta">
				<center>
					<img src="img/interrogacion.jpg" >
				</center>
				
			</form>
			<button  class="MiBotonUTN" ng-click="Responder()" >Aceptar</button>
		</div>
		<div class="CajaUno animated bounceInLeft">


		</div>

		<div class="animated bounceInLeft">
			<h2>Enunciado:</h2>
			
				<h3>
						Debemos mostrar dos números Random  del 1 al 10 y una de las cuatro operaciones básicas (suma, resta, división o multiplicación) para realizar entre estos dos números, estas operaciones también serán Random. En el cuadro de texto resultado el jugador debe ingresar el resultado de la operación y presionar el botón  Aceptar.
						se debe informar si el resultado es el correcto o no.


				</h3>
			
			
		</div>
